@font-face {
  font-family: consolas;
  src: url("../font/Consolas.ttf");
}

* {
  font-family: consolas, "consolas", "Roboto Mono", monospace;
}

body {
  color: #fff;
  background-color: #121212;
  white-space: nowrap;
}

.ckeckbox {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.input {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  user-select: none;
  cursor: pointer;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
  border: 0;
  padding: 0.3rem;
  outline: 0;
  border: transparent solid 1px;

  color: #fff;
}

input:focus {
  border: rgba(255, 255, 255, 0.2) solid 1px;
}

#run {
  cursor: pointer;
  transition: 0.2s;
}

#run:hover {
  color: #3498db;
}

.nothing {
  color: grey;
  cursor: context-menu;
}

.submarine {
  color: #3498db;
}

.trajectory {
  color: #e74c3c;
  cursor: context-menu;
}

.success {
  color: #27ae60;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.n {
  color: #3498db;
}

.data {
  position: sticky;
  top: 0;
}

.row-label {
  display: inline-block;
  width: 2rem;
  text-align: right;
  margin-right: 1rem;
  color: grey;
}

.row:hover .row-label {
  color: #fff;
}
