body {
  font-family: "consolas";
  color: #fff;
  background-color: #121212;
  white-space: nowrap;
}

#transmitted-data,
#markers {
  color: grey;
}

.label {
  color: #fff;
}

.version {
  color: #d35400;
}

.type {
  color: #f1c40f;
}

.lengthfactor {
  color: #3498db;
}

.lengthtype {
  color: #9b59b6;
}

.value {
  color: #fff;
}

.endbit {
  color: #2ecc71;
}

.flex {
  display: flex;
  gap: 2rem;
}

.input {
  margin-bottom: 1rem;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
  border: 0;
  padding: 0.3rem;
  outline: 0;
  border: transparent solid 1px;

  color: #fff;
}

input:focus {
  border: rgba(255, 255, 255, 0.2) solid 1px;
}

#run {
  cursor: pointer;
  transition: 0.2s;
}

#run:hover {
  color: #3498db;
}
