/* init font */

@font-face {
  font-family: "Caskaydia";
  src: url('./fonts/caskaydia.otf');
}

* {
  font-family: "Caskaydia", monospace;
  margin: 0;
}

h1 {
  font-weight: 100;
  margin-bottom: 1rem;
}

.start-text{
  margin-bottom: 1rem;
}

.day {
  display: block;
  width: fit-content;
  color: #777;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  outline: 0;
}

.day::before{
  content: "> ";
  color: #fff;
  opacity: 0;
  transition: .2s;
}

.day:focus::before,
.day:hover::before {
  opacity: 1;
}

.day:active {
  color: #fff;
}

body {
  background-color: #121212;
  color: #fff;
  margin: 0;
}

textarea {
  background-color: #333;
  font-size: 1rem;
  color: #fff;
  border: 0;
  outline: 0;
  padding: .5rem;
  flex-grow: 1;
  margin-bottom: 1rem;
}

button {
  color: #3498db;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: .2s;
  font-size: 1rem;
}

button:hover {
  color: #fff;
}

button:active {
  color: #777;
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-grow: 1;
}

.input {
  flex-direction: column;
  display: flex;
  padding: 1rem;
}

input[type="checkbox"] {
  appearance: none;
  display: block;
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.output.left {
  align-items: flex-start;
}